ZERON-nodered-flow.json
[
    {
        "id": "787141a2d81b8031",
        "type": "tab",
        "label": "ZERON2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f420992c2d961a70",
        "type": "inject",
        "z": "787141a2d81b8031",
        "name": "8:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "requestTimeout",
                "v": "3000",
                "vt": "num"
            },
            {
                "p": "delay",
                "v": "$random()*300*1000\t",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "ae4afbb3ada351b7"
            ]
        ]
    },
    {
        "id": "ceddbaae98931d1f",
        "type": "http request",
        "z": "787141a2d81b8031",
        "name": "heron api",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://ppanag.github.io/json-apis/zeron.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 40,
        "wires": [
            [
                "f48c27d872351464"
            ]
        ]
    },
    {
        "id": "51c10ff9088b633f",
        "type": "change",
        "z": "787141a2d81b8031",
        "name": "set start delay",
        "rules": [
            {
                "t": "move",
                "p": "delay",
                "pt": "msg",
                "to": "rand_delay",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "(payload.start-8)*3600*1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "fabb717cad0d396f"
            ]
        ]
    },
    {
        "id": "5f9a0c0b5c70e161",
        "type": "change",
        "z": "787141a2d81b8031",
        "name": "set stop delay",
        "rules": [
            {
                "t": "move",
                "p": "delay",
                "pt": "msg",
                "to": "rand_delay",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "(payload.stop-8)*3600*1000-2*rand_delay",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "5d2690c8486311cc"
            ]
        ]
    },
    {
        "id": "fabb717cad0d396f",
        "type": "delay",
        "z": "787141a2d81b8031",
        "name": "delay until start-time",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "2cfaf6d21caf2061"
            ]
        ]
    },
    {
        "id": "5d2690c8486311cc",
        "type": "delay",
        "z": "787141a2d81b8031",
        "name": "delay until stop-time",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "97802ee5525603eb"
            ]
        ]
    },
    {
        "id": "2cfaf6d21caf2061",
        "type": "change",
        "z": "787141a2d81b8031",
        "name": "<set value for start here!>",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "b2d0c60e56ef40d4"
            ]
        ]
    },
    {
        "id": "97802ee5525603eb",
        "type": "change",
        "z": "787141a2d81b8031",
        "name": "<set value for stop here!>",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "b2d0c60e56ef40d4"
            ]
        ]
    },
    {
        "id": "94973db9ca581dbe",
        "type": "debug",
        "z": "787141a2d81b8031",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 40,
        "wires": []
    },
    {
        "id": "f1d962c54069bd77",
        "type": "comment",
        "z": "787141a2d81b8031",
        "name": "<VE.bus System Control  here - switch position>",
        "info": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "a42f12f4bc77eb6d",
        "type": "debug",
        "z": "787141a2d81b8031",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 320,
        "wires": []
    },
    {
        "id": "f48c27d872351464",
        "type": "function",
        "z": "787141a2d81b8031",
        "name": "api error check",
        "func": "let d = msg.payload.date.split('/');\nlet msgDate = new Date(2000 + +d[2], d[1]-1, d[0]);\nlet today = new Date();\nlet sameDay = msgDate.toDateString() === today.toDateString();\nlet isValid = sameDay && msg.payload.ok == 1;\nreturn [isValid ? msg : null, !isValid ? msg : null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 40,
        "wires": [
            [
                "51c10ff9088b633f",
                "5f9a0c0b5c70e161",
                "94973db9ca581dbe"
            ],
            [
                "8cd592677e039a55"
            ]
        ]
    },
    {
        "id": "8cd592677e039a55",
        "type": "debug",
        "z": "787141a2d81b8031",
        "name": "errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "a91865c94d8dd3aa",
        "type": "inject",
        "z": "787141a2d81b8031",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "5d2690c8486311cc",
                "fabb717cad0d396f",
                "ae4afbb3ada351b7"
            ]
        ]
    },
    {
        "id": "b2d0c60e56ef40d4",
        "type": "change",
        "z": "787141a2d81b8031",
        "name": "pass to Victron",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 260,
        "wires": [
            [
                "a42f12f4bc77eb6d"
            ]
        ]
    },
    {
        "id": "ae4afbb3ada351b7",
        "type": "delay",
        "z": "787141a2d81b8031",
        "name": "random delay 0-300 sec",
        "pauseType": "delayv",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "100",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "ceddbaae98931d1f"
            ]
        ]
    },
    {
        "id": "8ef5d394fe43b733",
        "type": "inject",
        "z": "787141a2d81b8031",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "requestTimeout",
                "v": "3000",
                "vt": "num"
            },
            {
                "p": "delay",
                "v": "$random()*300*1000\t",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "ceddbaae98931d1f"
            ]
        ]
    }
]
